{% extends 'base.html' %}

{% block title %}Deskbook{% endblock %}
{% block content %}
<h1 class="logo" id="logo">Book your Desk</h1>

<div class="container">
    <div class="row">
        {% for desk in desks %}
        <div class="col-4">
            <div class="card" >
                <div class="card-body">
                    <h2 class="card-title">

                    {{ desk.desk_name}}

                    </h2>
                    <hr >   
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#id{{desk.id}}" >
                        Reserve
                    </button>
                        
        <div class="modal fade" id="id{{desk.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">{{desk.desk_name}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <label >Enter your name:</label>
                    <br />
                    <input type="text" placeholder="Your name" label="Enter your name" />
                    <br />
                    <br />
                    <label >Enter the date you will come:</label>
                    <br />
                    <input type="date" label="Enter the date you will come" />
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>
</div>
{% endfor %}
    </div>
</div>


{% endblock %}

